* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
}

.jetbrains-mono {
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.gochi-font {
  font-family: 'Gochi Hand', cursive;
  font-weight: 400;
  font-style: normal;
}

#main {
  height: 100dvh;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 3rem;
  padding: 2rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to bottom, rgb(213, 200, 255), #ffffff);
}

nav h1 {
  font-size: 3rem;
  color: #222;
  user-select: none;
}

nav button {
  color: rgb(55, 55, 55);
  font-weight: 500;
  font-size: 1rem;
  background: transparent;
  appearance: none;
  border: none;
  padding: 0.7rem;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: 0.3s ease all;
  cursor: pointer;
  border: 2px solid;
}

nav button::before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(230, 230, 250, 0.749);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translateX(-100%);
  transition: 0.3s ease all;
}

nav button:hover {
  transform: scale(1.05);
  border: 2px solid rgb(187, 187, 255);
}

nav button:hover::before {
  transform: translateX(0) scale(1.05);
  transition: 0.3s ease all;
}

main {
  width: 100%;
  display: flex;
  flex: 1;
  padding: 2rem;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

hr {
  display: none;
}

#box-start {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#box-end {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.box span {
  padding: 1rem;
  font-size: 1rem;
  font-family: 'JetBrains Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /* box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37); */
  border-radius: 10px;
  backdrop-filter: blur(16px);
}

/*  FIXME  - CSS Custom Tooltip for h1 */

h1 {
  position: relative;
  /* cursor: pointer; */
  transition: 0.3s ease all;
}

h1::after {
  content: attr(data-title);
  font-family: sans-serif;
  position: absolute;
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1rem);
  color: rgb(55, 55, 55);
  border-radius: 0.5rem;
  padding: 0.4rem;
  left: 50%;
  bottom: -30%;
  transform: translateX(-50%) translateY(50%);
  width: 100%;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

h1:hover::after {
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease all;
}

.box {
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

#box-start {
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

#box-end {
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}

.box-right {
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}
